1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [28]:
#a0: list with numbers from 1 to 100
#a = [] #this is an empty list
#a.append(x for x in range(100))
#print(a)

all = [x for x in range(1, 101)]
print(all)

for i in range(1,100):
    if (i % 3 == 0 and i % 5 == 0):
        all[i] = "MickeyMouse"
    elif i % 3 == 0:
        all[i] = "Mickey"
    elif i % 5 == 0:
        all[i] = "Mouse"

print(all)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 'Mickey', 5, 'Mouse', 'Mickey', 8, 9, 'Mickey', 'Mouse', 12, 'Mickey', 14, 15, 'MickeyMouse', 17, 18, 'Mickey', 20, 'Mouse', 'Mickey', 23, 24, 'Mickey', 'Mouse', 27, 'Mickey', 29, 30, 'MickeyMouse', 32, 33, 'Mickey', 35, 'Mouse', 'Mickey', 38, 39, 'Mickey', 'Mouse', 42, 'Mickey', 44, 45, 'MickeyMouse', 47, 48, 'Mickey', 50, 'Mouse', 'Mickey', 53, 54, 'Mickey', 'Mouse', 57, 'Mickey', 59, 60, 'MickeyMouse', 62, 63, 'Mickey', 65, 'Mouse', 'Mickey', 68, 69, 'Mickey', 'Mouse', 72, 'Mickey', 74, 75, 'MickeyMouse', 77, 78, 'Mickey', 80, 'Mouse', 'Mickey', 83, 84, 'Mickey', 'Mouse', 87, 'Mickey', 89, 90, 'MickeyMouse', 92, 93, 'Mickey', 95, 'Mouse', 'Mickey', 98, 99, 'Mickey']

In [29]:
for i in range(1,101):
    if (i % 3 == 0 and i % 5 == 0):
        print("MickeyMouse")
    elif i % 3 == 0:
        print("Mickey")
    elif i % 5 == 0:
        print("Mouse")
    else: print(i)
    
tuple = ()  #create empty tuple 
#sum = ()
for i in range(1,101):
    if (i % 3 == 0 and i % 5 == 0):
        i = "MickeyMouse"
    elif i % 3 == 0:
        i = "Mickey"
    elif i % 5 == 0:
        i = "Mouse"
    tuple = tuple + (i,)
        
print(tuple)

is_a_list = list(tuple)
for i in range(1,100):
    if is_a_list[i] == "Mickey":
        is_a_list[i] = "Donald"
    elif is_a_list[i] == "Mouse":
        is_a_list[i] = "Duck"

print(is_a_list)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [14]:
x = input("set the value of x: ")
y = input("set the value of y: ")

def swap(a, b):
    temp = a
    a = b
    b = temp
    return a, b
    
x, y = swap(x, y)
    
print(x)
print(y)

set the value of x: 1
set the value of y: 2
2
1

In [10]:
def swap0(s1, s2):
    assert type(s1) == list and type(s2) == list
    tmp = s1[:]
    s1[:] = s2
    s2[:] = tmp
    return
    
s1 = [1]
s2 = [2]
swap0(s1, s2)
print(s1, s2)

[2] [1]

In [7]:
#easier and better

x = input("set the value of x: ")
y = input("set the value of y: ")

x, y = y, x

print(x, y)

set the value of x: el
set the value of y:
 el

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [21]:
import math

(ux, uy) = input("set the coordinates of u (x,y): ") #leggere caratteri continui
(vx, vy) = input("set the coordinates of v (x,y): ")
#input are strings!!! convert them

tuple_u = (ux, uy)
tuple_v = (vx, vy)

type(tuple_u[0])

def dist(tuple_a, tuple_b):
    distance = math.sqrt((float(tuple_a[0])-float(tuple_b[0]))**2 + (float(tuple_a[1])-float(tuple_b[1]))**2)
    return distance

distance = dist(tuple_u, tuple_v)

print(distance)

KeyboardInterrupt: Interrupted by user

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [33]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [86]:
#remember strings are lists
low= s.lower()
print(low)

characters = [x for x in low]
characters.sort()
print(characters)

#characters = ''.join(characters)
#print(characters.count('a'))

for i in range(0,len(characters)):
    if characters[i] != characters[i-1]:
        count = characters.count(characters[i])
        string = characters[i] + " appears %i times"
        print(string % count)
    else: 
        pass

write a program that prints the numbers from 1 to 100. but for multiples of three print mickey instead of the number and for the multiples of five print mouse. for numbers which are multiples of both three and five print mickeymouse
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '.', '.', '0', '0', '1', '1', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'f', 'f', 'f', 'f', 'f', 'f', 'f', 'f', 'f', 'f', 'g', 'h', 'h', 'h', 'h', 'h', 'h', 'h', 'h', 'h', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'k', 'k', 'l', 'l', 'l', 'l', 'l', 'l', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'p', 'p', 'p', 'p', 'p', 'p', 'p', 'p', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 's', 's', 's', 's', 's', 's', 's', 's', 's', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 'u', 'u', 'u', 'u', 'u', 'u', 'u', 'u', 'u', 'v', 'v', 'w', 'w', 'y', 'y']
  appears 41 times
. appears 2 times
0 appears 2 times
1 appears 2 times
a appears 7 times
b appears 5 times
c appears 3 times
d appears 3 times
e appears 22 times
f appears 10 times
g appears 1 times
h appears 9 times
i appears 14 times
k appears 2 times
l appears 6 times
m appears 12 times
n appears 10 times
o appears 13 times
p appears 8 times
r appears 17 times
s appears 9 times
t appears 19 times
u appears 9 times
v appears 2 times
w appears 2 times
y appears 2 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [20]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#vedi sopra
#print(type(l))

l.sort()
print(l)

for i in range(0,len(l)):
    if l[i] != l[i-1]:
        count = l.count(l[i])
        string = str(l[i]) + " appears %i times"
        print(string % count)
    else: 
        pass

[1, 3, 3, 5, 8, 9, 10, 16, 18, 19, 20, 20, 20, 24, 30, 31, 31, 33, 34, 34, 36, 36, 36, 37, 39, 41, 42, 42, 45, 45, 45, 47, 50, 50, 51, 51, 51, 53, 54, 55, 56, 56, 57, 58, 63, 63, 64, 66, 66, 70, 70, 70, 72, 74, 75, 79, 81, 82, 84, 84, 84, 84, 85, 85, 85, 86, 87, 88, 89, 89, 90, 91, 91, 91, 92, 94, 95, 96, 98, 99]
1 appears 1 times
3 appears 2 times
5 appears 1 times
8 appears 1 times
9 appears 1 times
10 appears 1 times
16 appears 1 times
18 appears 1 times
19 appears 1 times
20 appears 3 times
24 appears 1 times
30 appears 1 times
31 appears 2 times
33 appears 1 times
34 appears 2 times
36 appears 3 times
37 appears 1 times
39 appears 1 times
41 appears 1 times
42 appears 2 times
45 appears 3 times
47 appears 1 times
50 appears 2 times
51 appears 3 times
53 appears 1 times
54 appears 1 times
55 appears 1 times
56 appears 2 times
57 appears 1 times
58 appears 1 times
63 appears 2 times
64 appears 1 times
66 appears 2 times
70 appears 3 times
72 appears 1 times
74 appears 1 times
75 appears 1 times
79 appears 1 times
81 appears 1 times
82 appears 1 times
84 appears 4 times
85 appears 3 times
86 appears 1 times
87 appears 1 times
88 appears 1 times
89 appears 2 times
90 appears 1 times
91 appears 3 times
92 appears 1 times
94 appears 1 times
95 appears 1 times
96 appears 1 times
98 appears 1 times
99 appears 1 times

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [35]:
#functions are read before the code! No need to define in order!

def sixth(c):
    d = square(cube(c))
    return d

def square(a):
    return a*a

def cube(b):
    return b*b*b

x = input("choose a number to calculate the sixth power: ")

x = float(x)

print(square(x), cube(x), sixth(x))

choose a number to calculate the sixth power: 1000000000000000000000000000000
1.0000000000000001e+60 1.0000000000000002e+90 1.0000000000000004e+180

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [44]:
cubes1 = []
for x in range(0,11):
    cubes1.append(x*x*x)
    
print(cubes1)    

cubes2 = [x*x*x for x in range(0,11)]

type(cubes2)
print(cubes2)
#%time

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [3]:
#for loop

py_list = []
py_tuple = ()
for a in range(1,100):
    for b in range(a,100):
        for c in range(b,100):
            if (a*a + b*b == c*c):
                py_list.append((a,b,c))
                py_tuple = py_tuple + (a,b,c)
print(py_list)            
print(py_tuple)

#list comprehension
mytuple = (x for x in range(1,10))
print(mytuple)

cube_list = [(a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if (a<b and a*a+b*b==c*c)]
print(cube_list)

#nested list comprehension

new_cubes = []


#example of list comprehension
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

print(matrix[1])

[[row[i] for row in matrix] for i in range(4)]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]
(3, 4, 5, 5, 12, 13, 6, 8, 10, 7, 24, 25, 8, 15, 17, 9, 12, 15, 9, 40, 41, 10, 24, 26, 11, 60, 61, 12, 16, 20, 12, 35, 37, 13, 84, 85, 14, 48, 50, 15, 20, 25, 15, 36, 39, 16, 30, 34, 16, 63, 65, 18, 24, 30, 18, 80, 82, 20, 21, 29, 20, 48, 52, 21, 28, 35, 21, 72, 75, 24, 32, 40, 24, 45, 51, 24, 70, 74, 25, 60, 65, 27, 36, 45, 28, 45, 53, 30, 40, 50, 30, 72, 78, 32, 60, 68, 33, 44, 55, 33, 56, 65, 35, 84, 91, 36, 48, 60, 36, 77, 85, 39, 52, 65, 39, 80, 89, 40, 42, 58, 40, 75, 85, 42, 56, 70, 45, 60, 75, 48, 55, 73, 48, 64, 80, 51, 68, 85, 54, 72, 90, 57, 76, 95, 60, 63, 87, 65, 72, 97)
<generator object <genexpr> at 0x7f034d1fa110>
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]
[5, 6, 7, 8]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [21]:
import math as m

print(py_tuple)

def normalize(my_tuple):
    norm = 0
    is_a_list = list(my_tuple)
    for i in range(0,len(is_a_list)):
        norm += is_a_list[i]**2
    for i in range(0,len(is_a_list)):
        is_a_list[i] = is_a_list[i]/norm
        tuple(is_a_list)
    return is_a_list

normalize(py_tuple)

(3, 4, 5, 5, 12, 13, 6, 8, 10, 7, 24, 25, 8, 15, 17, 9, 12, 15, 9, 40, 41, 10, 24, 26, 11, 60, 61, 12, 16, 20, 12, 35, 37, 13, 84, 85, 14, 48, 50, 15, 20, 25, 15, 36, 39, 16, 30, 34, 16, 63, 65, 18, 24, 30, 18, 80, 82, 20, 21, 29, 20, 48, 52, 21, 28, 35, 21, 72, 75, 24, 32, 40, 24, 45, 51, 24, 70, 74, 25, 60, 65, 27, 36, 45, 28, 45, 53, 30, 40, 50, 30, 72, 78, 32, 60, 68, 33, 44, 55, 33, 56, 65, 35, 84, 91, 36, 48, 60, 36, 77, 85, 39, 52, 65, 39, 80, 89, 40, 42, 58, 40, 75, 85, 42, 56, 70, 45, 60, 75, 48, 55, 73, 48, 64, 80, 51, 68, 85, 54, 72, 90, 57, 76, 95, 60, 63, 87, 65, 72, 97)

[7.92945952803857e-06,
 1.0572612704051425e-05,
 1.3215765880064282e-05,
 1.3215765880064282e-05,
 3.171783811215428e-05,
 3.4360991288167135e-05,
 1.585891905607714e-05,
 2.114522540810285e-05,
 2.6431531760128564e-05,
 1.8502072232089993e-05,
 6.343567622430856e-05,
 6.607882940032141e-05,
 2.114522540810285e-05,
 3.964729764019284e-05,
 4.4933603992218556e-05,
 2.3788378584115707e-05,
 3.171783811215428e-05,
 3.964729764019284e-05,
 2.3788378584115707e-05,
 0.00010572612704051425,
 0.00010836928021652711,
 2.6431531760128564e-05,
 6.343567622430856e-05,
 6.872198257633427e-05,
 2.907468493614142e-05,
 0.00015858919056077137,
 0.00016123234373678424,
 3.171783811215428e-05,
 4.22904508162057e-05,
 5.286306352025713e-05,
 3.171783811215428e-05,
 9.251036116044997e-05,
 9.779666751247568e-05,
 3.4360991288167135e-05,
 0.00022202486678507994,
 0.00022466801996109278,
 3.7004144464179985e-05,
 0.0001268713524486171,
 0.00013215765880064282,
 3.964729764019284e-05,
 5.286306352025713e-05,
 6.607882940032141e-05,
 3.964729764019284e-05,
 9.515351433646283e-05,
 0.0001030829738645014,
 4.22904508162057e-05,
 7.929459528038568e-05,
 8.986720798443711e-05,
 4.22904508162057e-05,
 0.00016651865008880995,
 0.00017180495644083567,
 4.757675716823141e-05,
 6.343567622430856e-05,
 7.929459528038568e-05,
 4.757675716823141e-05,
 0.0002114522540810285,
 0.00021673856043305422,
 5.286306352025713e-05,
 5.5506216696269984e-05,
 7.665144210437283e-05,
 5.286306352025713e-05,
 0.0001268713524486171,
 0.00013744396515266854,
 5.5506216696269984e-05,
 7.400828892835997e-05,
 9.251036116044997e-05,
 5.5506216696269984e-05,
 0.00019030702867292565,
 0.0001982364882009642,
 6.343567622430856e-05,
 8.45809016324114e-05,
 0.00010572612704051425,
 6.343567622430856e-05,
 0.00011894189292057854,
 0.00013480081197665567,
 6.343567622430856e-05,
 0.00018502072232089994,
 0.00019559333502495137,
 6.607882940032141e-05,
 0.00015858919056077137,
 0.00017180495644083567,
 7.136513575234713e-05,
 9.515351433646283e-05,
 0.00011894189292057854,
 7.400828892835997e-05,
 0.00011894189292057854,
 0.00014008711832868138,
 7.929459528038568e-05,
 0.00010572612704051425,
 0.00013215765880064282,
 7.929459528038568e-05,
 0.00019030702867292565,
 0.0002061659477290028,
 8.45809016324114e-05,
 0.00015858919056077137,
 0.00017973441596887422,
 8.722405480842426e-05,
 0.00011629873974456568,
 0.0001453734246807071,
 8.722405480842426e-05,
 0.00014801657785671994,
 0.00017180495644083567,
 9.251036116044997e-05,
 0.00022202486678507994,
 0.00024052693901716992,
 9.515351433646283e-05,
 0.0001268713524486171,
 0.00015858919056077137,
 9.515351433646283e-05,
 0.00020352279455298992,
 0.00022466801996109278,
 0.0001030829738645014,
 0.00013744396515266854,
 0.00017180495644083567,
 0.0001030829738645014,
 0.0002114522540810285,
 0.0002352406326651442,
 0.00010572612704051425,
 0.00011101243339253997,
 0.00015330288420874565,
 0.00010572612704051425,
 0.0001982364882009642,
 0.00022466801996109278,
 0.00011101243339253997,
 0.00014801657785671994,
 0.00018502072232089994,
 0.00011894189292057854,
 0.00015858919056077137,
 0.0001982364882009642,
 0.0001268713524486171,
 0.0001453734246807071,
 0.0001929501818489385,
 0.0001268713524486171,
 0.0001691618032648228,
 0.0002114522540810285,
 0.00013480081197665567,
 0.00017973441596887422,
 0.00022466801996109278,
 0.00014273027150469425,
 0.00019030702867292565,
 0.00023788378584115708,
 0.0001506597310327328,
 0.00020087964137697708,
 0.00025109955172122135,
 0.00015858919056077137,
 0.00016651865008880995,
 0.0002299543263131185,
 0.00017180495644083567,
 0.00019030702867292565,
 0.00025638585807324704]