1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [28]:
#a0: list with numbers from 1 to 100
#a = [] #this is an empty list
#a.append(x for x in range(100))
#print(a)

all = [x for x in range(1, 101)]
print(all)

for i in range(1,100):
    if (i % 3 == 0 and i % 5 == 0):
        all[i] = "MickeyMouse"
    elif i % 3 == 0:
        all[i] = "Mickey"
    elif i % 5 == 0:
        all[i] = "Mouse"

print(all)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 'Mickey', 5, 'Mouse', 'Mickey', 8, 9, 'Mickey', 'Mouse', 12, 'Mickey', 14, 15, 'MickeyMouse', 17, 18, 'Mickey', 20, 'Mouse', 'Mickey', 23, 24, 'Mickey', 'Mouse', 27, 'Mickey', 29, 30, 'MickeyMouse', 32, 33, 'Mickey', 35, 'Mouse', 'Mickey', 38, 39, 'Mickey', 'Mouse', 42, 'Mickey', 44, 45, 'MickeyMouse', 47, 48, 'Mickey', 50, 'Mouse', 'Mickey', 53, 54, 'Mickey', 'Mouse', 57, 'Mickey', 59, 60, 'MickeyMouse', 62, 63, 'Mickey', 65, 'Mouse', 'Mickey', 68, 69, 'Mickey', 'Mouse', 72, 'Mickey', 74, 75, 'MickeyMouse', 77, 78, 'Mickey', 80, 'Mouse', 'Mickey', 83, 84, 'Mickey', 'Mouse', 87, 'Mickey', 89, 90, 'MickeyMouse', 92, 93, 'Mickey', 95, 'Mouse', 'Mickey', 98, 99, 'Mickey']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [1]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [2]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one